@using Dj_ReedRussel.Models;
@model dynamic
@{
    ViewBag.Title = "Radio Shows";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<section>
    <div class="back">
        <div class="page-name">
            <h3> Lorem ipsum dolor sit amet.</h3>
            <h2 class="title">Albums</h2>
        </div>
    </div>
</section>
<!--page ends-->
<!--page content starts-->
<section class="album">
    <div class="container">
        <div class="row">
            <div class="albums">
                @foreach (album_or_radioshow item in Model.albums)
                {
                    <div class="albums-item">
                        <a href="@Url.Action("Radioshow_item", "AlbumItem",new { id = item.id })">
                            <img src="~/Uploads/@item.cover" alt="">
                            <p>@item.author</p>
                        </a>
                        <p class="type">@item.album_type</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--page content ends-->
<!--festival starts-->
<section class="festival list">
    <p>
        MUSIC
        <a href="https://www.youtube.com/embed/feA64wXhbjo?list=RDGMEMYH9CUrFO7CfLJpaD7UR85wVMAd6SxduZfis" class="gallery1">
            <i class="fa fa-play-circle"></i>
        </a> festival
    </p>
    <div class="modal">
        <div class="modal_inner">
            <img class="close" src="~/Public/img/close.png" width="32">
            <img class="left" style="display: none" src="~/Public/img/arrow-left.png" width="32">
            <img class="right" style="display: none" src="~/Public/img/arrow-right.png" width="32">
        </div>
    </div>
</section>
<!--festival ends-->
