
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<section class="event-head-img">
    <div class="back">
        <!-- <div class="page-name">
            <h3> Lorem ipsum dolor sit amet.</h3>
            <h2 class="title">events</h2>
        </div> -->
    </div>
</section>
<!--page ends-->
<!--page content starts-->
<section class="event-blog forheader">
    <div class="container">
        <div class="row">
            <span>ABOUT EVENT</span>
            <h3>INDIE ROCK FESTIVAL</h3>
            <p>
                Lorem ipsum dolor sit amet, lucilius dignissim has ne. Vero dolorem has et, quando omittam ius ea, ut consul
                everti indoctum mea. Ei cum facilisi philosophia, sed no postea meliore gloriatur, voluptua suscipiantur
                ne eum. Vim ad decore nostro, quo ad erant legere, brute animal quo eu. Clita convenire expetendis per
                cu, ei mutat recusabo usu. Quo mucius audire oporteat no, suas ancillae ne his. Lorem ipsum dolor sit
                amet, lucilius dignissim has ne.
            </p>
            <p>
                Vero dolorem has et, quando omittam ius ea, ut consul everti indoctum mea. Ei cum facilisi philosophia, sed
                no postea meliore gloriatur, voluptua suscipiantur ne eum. Vim ad decore nostro. Lorem ipsum dolor sit
                amet, lucilius dignissim has ne. Vero dolorem has et, quando omittam ius ea, ut consul everti indoctum
                mea. Ei cum facilisi philosophia, sed no postea meliore gloriatur, voluptua suscipiantur ne eum. Vim
                ad decore nostro, quo ad erant legere, brute animal quo eu. Clita convenire expetendis per cu, ei mutat
                recusabo usu.
            </p>
            <p>
                Quo mucius audire oporteat no, suas ancillae ne his. Lorem ipsum dolor sit amet, lucilius dignissim has ne.
                Vero dolorem has et, quando omittam ius ea, ut consul everti indoctum mea. Ei cum facilisi philosophia,
                sed no postea meliore gloriatur, voluptua suscipiantur ne eum. Vim ad decore nostro.
            </p>
        </div>
    </div>
</section>
<section class="event-date forheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <span>Lorem ipsum dolor sit.</span>
                <h3>EVENT TIME & DATES</h3>
                <div class="col-md-6">
                    <div class="time">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <br><span>EVENT DATE</span>
                        <h2>20th Jan - 25th Jan</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="time">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <br><span>EVENT DATE</span>
                        <h2>6:30 - 10:00</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="event">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span>ABOUT EVENT</span>
                <h3>INDIE ROCK FESTIVAL</h3>
            </div>
            <div class="albums counters">
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="" class="img-responsive">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2018 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="" class="img-responsive">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2018 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="" class="img-responsive">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2018 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="" class="img-responsive">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2018 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page content ends-->

