
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}



 <!--page starts-->
<section>
    <div class="back">
        <div class="page-name">
            <h3> Lorem ipsum dolor sit amet.</h3>
            <h2 class="title">contact</h2>
        </div>
    </div>
</section>
<!--page ends-->
<section class="music">
    <div class="container">
        <div class="row music-list">
            <div class="col-md-4 col-sm-6">
                <div class="music-item" style="background:url(/Public/img/album.jpg) no-repeat;background-size:cover">
                    <p class="info">
                        <br><i class="fa fa-times" aria-hidden="true"></i><br>Lorem Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ipsa quo, nam minus, temporibus culpa aliquam perferendis dignissimos pariatur
                        sit non quibusdam nobis quos similique ad distinctio deleniti enim officia facere placeat cupiditate
                        ut, quaerat sint earum minima. Exercitationem dignissimos, corporis ipsam commodi, fuga autem,
                        vitae explicabo modi asperiores eligendi ut! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Esse, incidunt tempora commodi dolore, dicta adipisci eos, necessitatibus deleniti ex amet
                        officia aspernatur laudantium. Ipsa dolore voluptates ab eum, voluptate nobis quasi. Laudantium
                        pariatur minima ducimus facilis eaque corporis laborum aspernatur ex, libero quod? Iure recusandae
                        sint quaerat nemo temporibus eum quis maiores at, exercitationem fugiat excepturi optio doloribus
                        totam. Aliquam, quas. Vel sit ipsa recusandae, nam, earum molestias tempore inventore odio asperiores
                        reprehenderit natus tempora quae sed consectetur quis optio, ut libero dolor impedit nostrum
                        porro dolorem sapiente? Cumque voluptates totam velit iure esse beatae ipsa impedit ullam at
                        earum. ipsum, dolor sit amet consectetur adipisicing elit. Hic repudiandae aut atque nostrum,
                        ad facere excepturi repellat! Fuga, exercitationem consectetur.
                    </p>
                    <audio class="stp">
                        <source src="~/Public/music/mzaf.m4a" />
                    </audio>
                    <i class="fa fa-play"></i>
                    <p class="info-btn">info</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="music-item" style="background:url(/Public/img/album.jpg) no-repeat;background-size:cover">
                    <p class="info">
                        <br><i class="fa fa-times" aria-hidden="true"></i><br>Lorem Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ipsa quo, nam minus, temporibus culpa aliquam perferendis dignissimos pariatur
                        sit non quibusdam nobis quos similique ad distinctio deleniti enim officia facere placeat cupiditate
                        ut, quaerat sint earum minima. Exercitationem dignissimos, corporis ipsam commodi, fuga autem,
                        vitae explicabo modi asperiores eligendi ut! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Esse, incidunt tempora commodi dolore, dicta adipisci eos, necessitatibus deleniti ex amet
                        officia aspernatur laudantium. Ipsa dolore voluptates ab eum, voluptate nobis quasi. Laudantium
                        pariatur minima ducimus facilis eaque corporis laborum aspernatur ex, libero quod? Iure recusandae
                        sint quaerat nemo temporibus eum quis maiores at, exercitationem fugiat excepturi optio doloribus
                        totam. Aliquam, quas. Vel sit ipsa recusandae, nam, earum molestias tempore inventore odio asperiores
                        reprehenderit natus tempora quae sed consectetur quis optio, ut libero dolor impedit nostrum
                        porro dolorem sapiente? Cumque voluptates totam velit iure esse beatae ipsa impedit ullam at
                        earum. ipsum, dolor sit amet consectetur adipisicing elit. Hic repudiandae aut atque nostrum,
                        ad facere excepturi repellat! Fuga, exercitationem consectetur.
                    </p>
                    <audio class="stp">
                        <source src="~/Public/music/mzaf.m4a" />
                    </audio>
                    <i class="fa fa-play"></i>
                    <p class="info-btn">info</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="music-item" style="background:url(/Public/img/album.jpg) no-repeat;background-size:cover">
                    <p class="info">
                        <br><i class="fa fa-times" aria-hidden="true"></i><br>Lorem Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ipsa quo, nam minus, temporibus culpa aliquam perferendis dignissimos pariatur
                        sit non quibusdam nobis quos similique ad distinctio deleniti enim officia facere placeat cupiditate
                        ut, quaerat sint earum minima. Exercitationem dignissimos, corporis ipsam commodi, fuga autem,
                        vitae explicabo modi asperiores eligendi ut! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Esse, incidunt tempora commodi dolore, dicta adipisci eos, necessitatibus deleniti ex amet
                        officia aspernatur laudantium. Ipsa dolore voluptates ab eum, voluptate nobis quasi. Laudantium
                        pariatur minima ducimus facilis eaque corporis laborum aspernatur ex, libero quod? Iure recusandae
                        sint quaerat nemo temporibus eum quis maiores at, exercitationem fugiat excepturi optio doloribus
                        totam. Aliquam, quas. Vel sit ipsa recusandae, nam, earum molestias tempore inventore odio asperiores
                        reprehenderit natus tempora quae sed consectetur quis optio, ut libero dolor impedit nostrum
                        porro dolorem sapiente? Cumque voluptates totam velit iure esse beatae ipsa impedit ullam at
                        earum. ipsum, dolor sit amet consectetur adipisicing elit. Hic repudiandae aut atque nostrum,
                        ad facere excepturi repellat! Fuga, exercitationem consectetur.
                    </p>
                    <audio class="stp">
                        <source src="~/Public/music/mzaf.m4a" />
                    </audio>
                    <i class="fa fa-play"></i>
                    <p class="info-btn">info</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="music-item" style="background:url(/Public/img/album.jpg) no-repeat;background-size:cover">
                    <p class="info">
                        <br><i class="fa fa-times" aria-hidden="true"></i><br>Lorem Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ipsa quo, nam minus, temporibus culpa aliquam perferendis dignissimos pariatur
                        sit non quibusdam nobis quos similique ad distinctio deleniti enim officia facere placeat cupiditate
                        ut, quaerat sint earum minima. Exercitationem dignissimos, corporis ipsam commodi, fuga autem,
                        vitae explicabo modi asperiores eligendi ut! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Esse, incidunt tempora commodi dolore, dicta adipisci eos, necessitatibus deleniti ex amet
                        officia aspernatur laudantium. Ipsa dolore voluptates ab eum, voluptate nobis quasi. Laudantium
                        pariatur minima ducimus facilis eaque corporis laborum aspernatur ex, libero quod? Iure recusandae
                        sint quaerat nemo temporibus eum quis maiores at, exercitationem fugiat excepturi optio doloribus
                        totam. Aliquam, quas. Vel sit ipsa recusandae, nam, earum molestias tempore inventore odio asperiores
                        reprehenderit natus tempora quae sed consectetur quis optio, ut libero dolor impedit nostrum
                        porro dolorem sapiente? Cumque voluptates totam velit iure esse beatae ipsa impedit ullam at
                        earum. ipsum, dolor sit amet consectetur adipisicing elit. Hic repudiandae aut atque nostrum,
                        ad facere excepturi repellat! Fuga, exercitationem consectetur.
                    </p>
                    <audio class="stp">
                        <source src="~/Public/music/mzaf.m4a" />
                    </audio>
                    <i class="fa fa-play"></i>
                    <p class="info-btn">info</p>
                </div>
            </div>



        </div>
    </div>
</section>