
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<!--page starts-->
<section>
    <div class="back">
        <div class="page-name">
            <h3> Lorem ipsum dolor sit amet.</h3>
            <h2 class="title">contact</h2>
        </div>
    </div>
</section>
<!--page ends-->
<!-- face,ins,twitt,vcontact,youtube,vimeo,email -->
<section class="contact">
    <div class="container">
        <div class="row">
            <a href="#" class="col-md-4 contact-item">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <p>Lorem, ipsum dolor.</p>
            </a>
            <a href="#" class="col-md-4 contact-item">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <p>Lorem, ipsum dolor.</p>
            </a>
            <a href="#" class="col-md-4 contact-item">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <p>Lorem, ipsum dolor.</p>
            </a>
            <a href="#" class="col-md-4 contact-item">
                <i class="fa fa-vk" aria-hidden="true"></i>
                <p>Lorem, ipsum dolor.</p>
            </a>
            <a href="#" class="col-md-4 contact-item">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <p>Lorem, ipsum dolor.</p>
            </a>
            <a href="#" class="col-md-4 contact-item">
                <i class="fa fa-vimeo" aria-hidden="true"></i>
                <p>Lorem, ipsum dolor.</p>
            </a>
        </div>

    </div>
</section>
