
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<section class="event-head-img">
    <div class="back" style="background:url(/Public/img/slider.jpg) no-repeat;background-size:cover">
        <div class="container">
            <div class="row">
                <div class="home-page-name" style="text-align:left;">
                    <h1>HEAVEN’S<br>DOOR</h1>
                    <h3>Your dream of travelling the world with STRINGS is going to be true.</h3>
                </div>
            </div>
        </div>

    </div>
</section>
<!--page ends-->
<!--page content starts-->
<section class="modal-galery" style="background:#04010d;">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span>music SECTION</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">MUSIC VIDEOS</h3>
            </div>
            <div class="list">
                <a href="https://www.youtube.com/embed/feA64wXhbjo?list=RDGMEMYH9CUrFO7CfLJpaD7UR85wVMAd6SxduZfis" class="gallery1" style="width:50%;">
                    <img src="~/Public/img/modal-galery.jpg" alt="mabas sbm95" />
                    <i class="fa fa-play-circle"></i>
                </a>
                <a href="https://www.youtube.com/embed/z0tvIe1bC2g" class="gallery1" style="width:50%;">
                    <img src="~/Public/img/modal-galery.jpg" alt="mabas sbm95" />
                    <i class="fa fa-play-circle"></i>
                </a>
                <a href="https://www.youtube.com/embed/feA64wXhbjo?list=RDGMEMYH9CUrFO7CfLJpaD7UR85wVMAd6SxduZfis" class="gallery1" style="width:50%;">
                    <img src="~/Public/img/modal-galery.jpg" alt="mabas sbm95" />
                    <i class="fa fa-play-circle"></i>
                </a>
                <a href="https://www.youtube.com/embed/z0tvIe1bC2g" class="gallery1" style="width:50%;">
                    <img src="~/Public/img/modal-galery.jpg" alt="mabas sbm95" />
                    <i class="fa fa-play-circle"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal_inner">
            <img class="close" src="~/Public/img/close.png" width="32">
            <img class="left" src="~/Public/img/arrow-left.png" width="32">
            <img class="right" src="~/Public/img/arrow-right.png" width="32">
        </div>
    </div>
</section>
<section class="album" style="background:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span style="color:#04010d">AUDIO SECTION</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">TOP ALBUMS</h3>
            </div>
            <div class="albums">
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/album.jpg" alt="">
                        <p>ReedRussell</p>
                    </a>
                    <p class="type">dram</p>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/album.jpg" alt="">
                        <p>ReedRussell</p>
                    </a>
                    <p class="type">dram</p>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/album.jpg" alt="">
                        <p>ReedRussell</p>
                    </a>
                    <p class="type">dram</p>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/album.jpg" alt="">
                        <p>ReedRussell</p>
                    </a>
                    <p class="type">dram</p>
                </div>
            </div>
            <p class="z"><button class="btn">view more</button></p>
        </div>
    </div>
</section>
<!--page content ends-->
<section class="event" style="background:url(/Public/img/event-bk.jpg) no-repeat;background-size:cover">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span>baku CONCERT 2017</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">UPCOMING EVENTS</h3>
            </div>
            <div class="albums counters">
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2018 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2019 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>
                <div class="albums-item">
                    <a href="album-item.html">
                        <img src="~/Public/img/event.jpg" alt="">
                        <div class="about">
                            <p>ReedRussell</p>
                            <p>ReedRussell</p>
                            <p time='Mar 21, 2012 00:00:00'>.</p>
                            <p>ReedRussell</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="album" style="background:#04010d;">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span style="color:white">photogalery</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">instagram</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="instafeed" class="row gallery"></div>
    </div>
</section>

